body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
}

#layout {
    display: block;
    border-radius: 5px;
    margin: .5%;
}

#header {
    display: block;
    margin: .5%;
    display: block;
    text-align: center;
}

#header > #title {
    display: block;
    font-size: 3em;
}

#columns {
    margin: .5%;
    padding: .5%;
}

#columns > .column {
    display: inline-block;
    margin: .5%;
}

#leftcolumn {
    height: 200px;
    float: left;
}

#leftcolumn > #users {
    display: inline-block;
    border: 1px solid black;
}

#rightcolumn {
    display: inline-block;

    min-width: 50%;
    padding-bottom: 1%;
    background-color: #BEEB9F;
    border-radius: 5px;
    border: 1px solid #00A388;
}

#rightcolumn > #show-tweets {
    display: block;
    margin: 1%;
    margin-top: 1.5%;
    outline: none;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FF6138;
    border: none;
    border-bottom: 1px solid #BD4829;
}

#rightcolumn > #show-tweets:hover {
    background-color: #D9522F;
    border-bottom: 1px solid #B54528;
}

#rightcolumn > #show-tweets:active {
    background-color: #E35632;
    border-bottom: 1px solid #C44B2B;
}

.tweet-container {
    background-color: white;
    padding: 1% 1% 1% 1%;
    border-top: 1px solid #00A388;
}

div.tweet.time {
    float: left;
}

div.tweet.user {
    float: left;
}

div.tweet.text {
    position: block;
}

hr {
    display: block;
    margin: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #00A388;
    padding: 0;
}
