body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
  border-bottom: 1px black;
  margin-top: 0px;
}

.tweet {
  border-radius: 5px;
}

button.refresh {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

div.tweets{
  background-color: lightgray;
  padding-top: 1%;
}

div.tweet.container {
  background-color: white;
  padding: 1% 1% 1% 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5%;
  width: 50%;
  text-align: left;
  border: dotted;
  border-width: 1px;
}

div.tweet.time {
  float: left;
}
div.tweet.user {
  float: left;
}
div.tweet.text {
  position: block;
}
